video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
}

.noi_dung {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

h1 {
    color: rgb(23, 38, 65);
    line-height: 1.2;
    font-size: 3vw;
}

.isRequiredIndicator {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(../images/icon_required.png);
    padding-left: 20px
}
.optional {
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-left: 20px
}
